:root {
  /*Colors*/
  --color-black: #303031;
  --color-gray: #66645e;
  --color-gray-medium: #f4f0ea;
  --color-gray-light: #f9f9f9;
  --color-white: #ffffff;
  --color-primary: #71a894;
  --color-secondary: #f5c64f;
}
